
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: 	#FF69B4;
}



li a {
    color: #fffacd;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

li a:hover {
    background-color: aqua;
}

.pack
{
	border:2px solid black;
	
	background-color:#00FF7F;
}
.clearfix{clear: both;}

.gap
{
	background-color:#000000;
	color: white;
	height: 91px;
	text-align: center;


}
h1
{
	top:0; 
}

.aa ul{
	margin-bottom: 0;
}
.span {
    background-color:#000000;
}

.logi {
    float: left;
    height: 91px;
    width: 141px;
}
.gap > h3 {
    padding-top: 16px;
    margin-top: -1px;

}
.bb
{
    border: 3px solid black;
}
.box
{
     border: 3px solid black;
     padding: 10px;

}
.ja
{
    margin-left: 118px;
}

h2 {
    color: yellow;
}